* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, serif;
    color: #432818;
    background: #fffaf0;
}

.navbar {
    background: #6b3e26;
    color: white;
    padding: 20px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 27px;
    font-weight: bold;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.hero {
    padding: 100px 8%;
    text-align: center;
    background: #f3d5a5;
}

.hero h1 {
    font-size: 58px;
}

.hero p {
    max-width: 650px;
    margin: 20px auto;
    font-size: 20px;
    line-height: 1.6;
}

.btn {
    display: inline-block;
    background: #c0392b;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
}

.features {
    padding: 80px 8%;
}

.features h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 45px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.box {
    background: white;
    padding: 35px;
    text-align: center;
    border-radius: 12px;
    border: 1px solid #ead8bc;
}

.box span {
    font-size: 45px;
}

.box h3 {
    margin: 15px 0;
}

.offer {
    margin: 20px 8% 70px;
    padding: 45px;
    text-align: center;
    background: #6b3e26;
    color: white;
    border-radius: 15px;
}

.offer h2 {
    font-size: 35px;
    margin-bottom: 10px;
}

@media (max-width: 700px) {

    nav {
        display: none;
    }

    .hero h1 {
        font-size: 42px;
    }

    .grid {
        grid-template-columns: 1fr;
    }
}
